name: MATLAB

on:
  push:
  pull_request:
  workflow_dispatch:
  repository_dispatch:
    types: [batch-trigger]

# TODO: refactor into a reusable action to avoid DRY violation here
jobs:
  # Test all licensing endpoints against oldest and newest MATLAB release
  test-licws:
    strategy:
      fail-fast: false
      matrix:
        stage: ['prod', 'stage', 'dev']
        release: ['latest', 'R2020a']
        image: ['ubuntu-18.04']
    runs-on: ${{ matrix.image }}
    env:
      MATHWORKS_LICENSING_ENDPOINT: ${{ matrix.stage }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v0
        with:
          release: ${{ matrix.release }}
      - name: Display version
        uses: matlab-actions/run-command@v0
        with:
          command: version
      - name: Run tests
        uses: matlab-actions/run-tests@v0

  # Test all MATLAB releases against all supported images
  test-releases:
    strategy:
      fail-fast: false
      matrix:
        stage: ['prod']
        release: ['latest', 'R2020b', 'R2020a']
        image: ['ubuntu-20.04', 'ubuntu-18.04', 'ubuntu-16.04']
    runs-on: ${{ matrix.image }}
    env:
      MATHWORKS_LICENSING_ENDPOINT: ${{ matrix.stage }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v0
        with:
          release: ${{ matrix.release }}
      - name: Display version
        uses: matlab-actions/run-command@v0
        with:
          command: version
      - name: Run tests
        uses: matlab-actions/run-tests@v0
